<div ng-controller="admin-users-controller">
    <div style="">
        <input type="text" id="rolename" placeholder="Role Name..." class="form-control" style="float:left;" ng-model="roleName" />
        <button type="button" class="btn btn-primary btn-sm" style="float:left;margin-left: 3px;" ng-click="addRole()">Add</button>
    </div>
    <br />
    <div style="margin-top:20px;">
        <div class="listHead">
            <div class="listRow">
                <div>
                    <div class="listCell listHeadCell">E-mail</div>
                    <div class="listCell listHeadCell">User Name</div>
                    <div class="listCell listHeadCell">Role</div>
                </div>
            </div>
            <div class="listRow" ng-repeat="x in users">
                <div>
                    <div class="listCell"><a id="{{x.Id}}" href="" class="lnkUser" ng-click="getUser(x.Id)">{{ x.Email }}</a></div>
                    <div class="listCell">{{ x.UserName }}</div>
                    <div class="listCell">{{ x.RoleName }} ffff</div>
                </div>
                <div id="{{ x.Id }}" class="userDetailRegion"></div>
            </div>
        </div>

    </div>
</div>