@model ApoForum.Web.Models.UserModel


<div ng-controller="admin-userDetail-controller" >
    <div style="height:245px;">
        <div style="float:left;">
            <div class="listText">
                Email
            </div>
            <input type="text" ng-model="user.Email" class="form-control" value="@Model.Email" />
            <div class="listText">
                User Name
            </div>
            <input type="text" ng-model="userModel.UserName" class="form-control" value="@Model.UserName" />

            <div class="listText">
                Phone Number
            </div>
            <input type="text" ng-model="userModel.PhoneNumber" class="form-control" value="@Model.PhoneNumber" />
        </div>
        <div style="float:left;">
            <div class="listText">
                Role
            </div>
            <div>
                asdas
            </div>
        </div>



    </div>
    <button type="button" class="btn btn-primary btn-sm" style="margin-top: 6px;" ng-click="updateUser()">Update</button>
</div>