    .listHead {
        width: 100%;
        display: table;
    }

    .listRow {
        display: table-row;
    }

    .listCell {
      display: table-cell;
      padding: 8px;
      line-height: 1.428571429;
      vertical-align: top;
      border: 1px solid #dddddd;
      width: 350px;
    }

    .listHeadCell{
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: bold;
      font-size: 14px;
      color: #333333;
    }

    .userDetailRegion{
        border: 1px solid #dddddd;
        max-width:1050px;
        display:none;
        padding:8px;
    }

    .listText{
        font-weight: bold;
        line-height: 25px;
        padding-top:10px;
    }